<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storyidea2">

    <application
        android:allowBackup="true"
        android:label="Choiceborn"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">


        <activity android:name=".A0StartPage" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StoryMain" android:exported="false" />

        <activity android:name=".A2MainActivity" android:exported="false" />

        <activity android:name=".A1ImpressumActivity" android:exported="false" />
        <activity android:name=".A3Story" android:exported="false" />
        <activity android:name=".A4Story" android:exported="false" />
        <activity android:name=".A5Story" android:exported="false" />
        <activity android:name=".A6Story" android:exported="false" />
        <activity android:name=".A7Story" android:exported="false" />
        <activity android:name=".A8Story" android:exported="false" />
        <activity android:name=".A9Story" android:exported="false" />
        <activity android:name=".A10Story" android:exported="false" />
        <activity android:name=".A11Story" android:exported="false" />
        <activity android:name=".A12Story" android:exported="false" />
        <activity android:name=".A13Story" android:exported="false" />
        <activity android:name=".A14Story" android:exported="false" />
        <activity android:name=".A15Story" android:exported="false" />
        <activity android:name=".A16Story" android:exported="false" />
        <activity android:name=".A17Story" android:exported="false" />
        <activity android:name=".A18Story" android:exported="false" />
        <activity android:name=".A19Story" android:exported="false" />
        <activity android:name=".A20Story" android:exported="false" />
        <activity android:name=".A21Story" android:exported="false" />
        <activity android:name=".A22Story" android:exported="false" />
        <activity android:name=".A23Story" android:exported="false" />
        <activity android:name=".A24Story" android:exported="false" />
        <activity android:name=".A25Story" android:exported="false" />
        <activity android:name=".A26Story" android:exported="false" />
        <activity android:name=".A27Story" android:exported="false" />
        <activity android:name=".A28Story" android:exported="false" />
        <activity android:name=".A29Story" android:exported="false" />
        <activity android:name=".A30Story" android:exported="false" />
        <activity android:name=".A31Story" android:exported="false" />
        <activity android:name=".A32Story" android:exported="false" />
        <activity android:name=".A33Story" android:exported="false" />
        <activity android:name=".A34Story" android:exported="false" />
        <activity android:name=".A35Story" android:exported="false" />
        <activity android:name=".A36Story" android:exported="false" />
        <activity android:name=".A37Story" android:exported="false" />
        <activity android:name=".A38Story" android:exported="false" />
        <activity android:name=".A39Story" android:exported="false" />
        <activity android:name=".A40Story" android:exported="false" />
        <activity android:name=".A41Story" android:exported="false" />
        <activity android:name=".A42Story" android:exported="false" />
        <activity android:name=".A43Story" android:exported="false" />
        <activity android:name=".A44Story" android:exported="false" />
        <activity android:name=".A45Story" android:exported="false" />
        <activity android:name=".A46Story" android:exported="false" />
        <activity android:name=".A47Story" android:exported="false" />
        <activity android:name=".A48Story" android:exported="false" />
        <activity android:name=".A49Story" android:exported="false" />
        <activity android:name=".A50Story" android:exported="false" />
        <activity android:name=".A51Story" android:exported="false" />
        <activity android:name=".A52Story" android:exported="false" />
        <activity android:name=".A53Story" android:exported="false" />
        <activity android:name=".A54Story" android:exported="false" />
        <activity android:name=".A55Story" android:exported="false" />
        <activity android:name=".A56Story" android:exported="false" />
        <activity android:name=".A57Story" android:exported="false" />
        <activity android:name=".A58Story" android:exported="false" />
        <activity android:name=".A59Story" android:exported="false" />
        <activity android:name=".A60Story" android:exported="false" />
        <activity android:name=".A61Story" android:exported="false" />
        <activity android:name=".A62Story" android:exported="false" />
        <activity android:name=".A63Story" android:exported="false" />
        <activity android:name=".A64Story" android:exported="false" />
        <activity android:name=".A65Story" android:exported="false" />
        <activity android:name=".A66Story" android:exported="false" />
        <activity android:name=".A67Story" android:exported="false" />
        <activity android:name=".A68Story" android:exported="false" />
        <activity android:name=".A69Story" android:exported="false" />
        <activity android:name=".A70Story" android:exported="false" />
        <activity android:name=".A71Story" android:exported="false" />
        <activity android:name=".A72Story" android:exported="false" />
        <activity android:name=".A73Story" android:exported="false" />
        <activity android:name=".A74Story" android:exported="false" />
        <activity android:name=".A75Story" android:exported="false" />
        <activity android:name=".A76Story" android:exported="false" />
        <activity android:name=".A77Story" android:exported="false" />
        <activity android:name=".A78Story" android:exported="false" />
        <activity android:name=".A79Story" android:exported="false" />
        <activity android:name=".A80Story" android:exported="false" />
        <activity android:name=".A81Story" android:exported="false" />
        <activity android:name=".A82Story" android:exported="false" />
        <activity android:name=".A83Story" android:exported="false" />
        <activity android:name=".A84Story" android:exported="false" />
        <activity android:name=".A85Story" android:exported="false" />
        <activity android:name=".A86Story" android:exported="false" />
        <activity android:name=".A87Story" android:exported="false" />
        <activity android:name=".A88Story" android:exported="false" />
        <activity android:name=".A89Story" android:exported="false" />
        <activity android:name=".A90Story" android:exported="false" />
        <activity android:name=".A91Story" android:exported="false" />
        <activity android:name=".A92Story" android:exported="false" />
        <activity android:name=".A93Story" android:exported="false" />
        <activity android:name=".A94Story" android:exported="false" />
        <activity android:name=".A95Story" android:exported="false" />
        <activity android:name=".A96Story" android:exported="false" />
        <activity android:name=".A97Story" android:exported="false" />
        <activity android:name=".A98Story" android:exported="false" />
        <activity android:name=".A99Story" android:exported="false" />
        <activity android:name=".A100Story" android:exported="false" />
        <activity android:name=".X1Death" android:exported="false" />
        <activity android:name=".B1MainActivity" android:exported="false"/>
        <activity android:name=".B2Story" android:exported="false" />
        <activity android:name=".X2Death" android:exported="false"/>
        <activity android:name=".X3Death" android:exported="false"/>
        <activity android:name=".X4Death" android:exported="false"/>
        <activity android:name=".X5Death" android:exported="false"/>
        <activity android:name=".X6Death" android:exported="false"/>
        <activity android:name=".X7Death" android:exported="false"/>
        <activity android:name=".X8Death" android:exported="false"/>
        <activity android:name=".X9Death" android:exported="false"/>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".G1MainActivity" android:exported="false"/>
        <activity android:name=".G2Story" android:exported="false"/>
        <activity android:name=".G3Story" android:exported="false"/>
        <activity android:name=".G4Story"  android:exported="false"/>
        <activity android:name=".G5Story"  android:exported="false"/>
        <activity android:name=".G6Story"  android:exported="false"/>
        <activity android:name=".G7Story"  android:exported="false"/>
        <activity android:name=".G8Story"  android:exported="false"/>
        <activity android:name=".G9Story"  android:exported="false"/>
        <activity android:name=".G10Story" android:exported="false"/>
        <activity android:name=".G11Story" android:exported="false"/>
        <activity android:name=".G12Story" android:exported="false"/>
        <activity android:name=".G13Story" android:exported="false"/>
        <activity android:name=".G14Story" android:exported="false"/>
        <activity android:name=".G15Story" android:exported="false"/>
        <activity android:name=".G16Story" android:exported="false"/>
        <activity android:name=".G17Story" android:exported="false"/>
        <activity android:name=".G18Story" android:exported="false"/>
        <activity android:name=".G19Story" android:exported="false"/>
        <activity android:name=".G20Story" android:exported="false"/>
        <activity android:name=".G21Story" android:exported="false"/>
        <activity android:name=".G22Story" android:exported="false"/>
        <activity android:name=".G23Story" android:exported="false"/>
        <activity android:name=".G24Story" android:exported="false"/>
        <activity android:name=".G25Story" android:exported="false"/>
        <activity android:name=".G26Story" android:exported="false"/>
        <activity android:name=".G27Story" android:exported="false"/>
        <activity android:name=".G28Story" android:exported="false"/>
        <activity android:name=".G29Story" android:exported="false"/>
        <activity android:name=".G30Story" android:exported="false"/>
        <activity android:name=".G31Story" android:exported="false"/>
        <activity android:name=".G32Story" android:exported="false"/>
        <activity android:name=".G33Story" android:exported="false"/>
        <activity android:name=".G34Story" android:exported="false"/>
        <activity android:name=".G35Story" android:exported="false"/>
        <activity android:name=".G36Story" android:exported="false"/>
        <activity android:name=".G37Story" android:exported="false"/>
        <activity android:name=".G38Story" android:exported="false"/>
        <activity android:name=".G39Story" android:exported="false"/>
        <activity android:name=".G40Story" android:exported="false"/>
        <activity android:name=".G100Story" android:exported="false"/>


    </application>
</manifest>
